
@media (min-width: 481px) {

    .product-title {
      display: none;
    }
    .product {
      box-shadow: none;
    }

    .product:hover .product-title {
    display: block;
    }

    .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}


